@model MatrimonialProject.ViewModels.SearchViewModel
@using MatrimonialProject.Helper
@{
    ViewData["Title"] = "SearchCategory";

}
    <body style="background-color:#F4EEFF">
        <form method="post">
            <div class="form-control">
                <select asp-for="Selected" id="searchList" asp-items="@Html.GetEnumSelectList<SearchCategory>()" onchange = "searchFunction()">
                    <option value="-1">Select</option>
                </select>
                <input type="button" value="Search" id="Submit" placeholder="Search"  />
            </div>
            <div class="form-control">
                <div id="TextBoxContainer">
                </div>
            </div>
            @if (ViewBag.showResults == true)

            {

                <div id="divResults" class="form-row">

                    <partial name="_getUserData" model="Model.Users" />

                </div>

            }

        </form>


        @section scripts
        {
            
            <script type="text/javascript">
                function searchFunction() {

                    const selectItem = document.getElementById("searchList");
                    const cInputVal = selectItem.options[selectItem.selectedIndex].value;

                    console.log("sunt chemat");

             
                    document.getElementById("TextBoxContainer").innerHTML = "";
                    let to = "";
                    let from = "";
                        if (cInputVal == 0) {
                             from = "Minimum Age";
                             to = "Maximum Age";
                        }

                        else if (cInputVal == 1) {
                             from = "Minimum Salary";
                             to = "Maximum Salary";
                        }

                    console.log(to, from);
                        let div = "<div>"
                        let minTextBox = '<input name="Min" />'
                        let maxTextBox = '<input name="Max" />'
                        div += from + minTextBox + to + maxTextBox + "</div>"

                        
                        document.getElementById("TextBoxContainer").innerHTML = div;
                            
                
                 };
            </script>
        }
    </body>
