@model MatrimonialProject.ViewModels.DescriptionViweModel
@{
    ViewData["Title"] = "ViewMyDescription";
}

<h1>ViewMyDescription</h1>


@Html.DisplayFor(model => model.Content)

@Html.DisplayFor(model => model.Name)
