
@{
    ViewData["Title"] = "AdminPage";
}

<h1>AdminPage</h1>
<button type="button" class="btn btn-primary">Delete user account</button>
<button type="button" class="btn btn-primary">Edit user account</button>

