
@{
    ViewData["Title"] = "AdminPage";
}

<h1>AdminPage</h1>
<button type="button" class="btn btn-primary">Delete user account</button>

<button type="button" class="btn btn-primary">Edit user account</button>

<li class="nav-item">
    <a class="nav-link text-dark" asp-area="" asp-controller="Admin" asp-action="EditUser">Edit user account</a>
</li>